html, body {
  scroll-behavior: smooth;
}

.bar {
  position: relative;
  top: 3rem;
  background-color: #373d3e;
  height: 5rem;
  width: 95%;
  left: 3%;
  display: flex;
  align-items: center;
}

.bar img {
  width: 10%;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
}

.bar ul {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 0;
}

.bar ul li {
  margin-right: 35px;
  color: white;
  font-size: 18px;
}

.bar a{
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}




.bar a:hover{
  color: rgb(216, 255, 202);
}

.midse {
  position: relative;
  top: 10rem;
  width: 30%;
  left: 4%;
  
}
.midse h1{
  font-family: sans-serif;
  position: relative;
  left:40px;
  top:-20px;
  font-size: 3rem; 
}
.midse p {
  position: relative;
  left:45px;
  width: 29rem;
  top:-1rem;
  font-size: 20px;
  text-align: left;
  font-family: AEmb, Helvetica, Hiragino Kaku Gothic Pro, sans-serif;
}

.midse video {
  position: relative;
  top: -30rem;
  left: 40rem;
  width: 340.18;
  height: 300;
  /* border-radius: 30px; */
}


.leftse{
  position: relative;
  top:-15rem;
  width: 30%;
  margin-left: 55px;
}
.leftse h1{
  font-family: sans-serif;
  position: relative;
  left:55rem;
  top:-30rem;
  font-size: 3rem; 
}


.leftse video {
  position: relative;
  left: 3rem;
  width: 340.18;
  height: 300;
}


.leftse p{
  position: relative;
  top:-27rem;
  width: 29rem;
  left:55rem;
  font-size: 20px;
  text-align: left;
  font-family: AEmb, Helvetica, Hiragino Kaku Gothic Pro, sans-serif;
}
.Certificate{
  position: relative;
  top:-11rem;
}

.largecer{
  position: relative;
  top:-13rem;
}



.smallcer{
  position: relative;
  top:-12rem;
}


.shopprod{
  position: relative;
  top:-14rem;
}


.ecofriendimg{
  position: relative;
  margin-bottom: -21rem;
  
}


.complete{
  position: relative;
  top:-20rem;
}

/* FAQ */

.FaqEdu {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  top:-10rem;
 
}


.FaqEdu h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 45px;
  text-align: center;
  font-family: Arial, sans-serif;
  
}


.FaqItem {
  margin: 25px 0;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  
}

.FaqQuestion {
  padding: 10px;
  display: flex;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  border-radius: 8px;
  justify-content: space-between;
}

.FaqAnswer {
  font-size: 20px;
  padding: 10px;
}



.AccordionIcon {

  font-weight: 800;
  font-size: 22px;
  margin-left: 10px; 
}