/* orderedProduct.css */

.orderedProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 1px solid #ccc; Add a 1px solid border */
  padding-left: 200px; /* Add 10px padding from all sides */
  padding-right: 200px;
  padding-bottom: 25px;
}

.orderedProduct__info {
  flex: 1; /* Take remaining space on the left */
  padding-left: 20px;
}
.orderedProduct__title {
  flex: 1; /* Take remaining space on the left */
  padding-right: 100px;
}

.orderedProduct__buttons {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 215px;
  /* justify-content: space-between; */
}
.ok-text {
  margin-top: 5px;
  color: rgb(33, 33, 33);
  font-size: 14px;
}
.learn_more {
  font-size: 12px;
  color: rgb(37, 138, 239);
  margin-top: 2px;
  text-decoration: underline;
}

/* .orderedProduct__buttons > button {
  background: #e2dccc;
  height: 30px;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
} */
  
.nor {
  background-color: #febd69;
  color: black;
  padding: 10px 30px;
  margin-top: 10px;
  border: 0;
  border-width: 0px;
  border-radius:5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  /* font-weight: 500; */
  font-weight: bold;
}

.nor:hover {
  background-color: #f9c989;
}

.grn {
  background-color: #62be3a;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  border: 0;
  border-width: 0px;
  border-radius:5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  /* font-weight: 500; */
  font-weight: bold;
}
.grn_feedback {
  background-color: #62be3a;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  width: 100%;
  border: 0;
  border-width: 0px;
  border-radius:5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  /* font-weight: 500; */
  font-weight: bold;
}
.grn_feedback:hover {
  background-color: #7ed957;
}

.grn:hover {
  background-color: #7ed957;
}
.orderedProduct__image{
  object-fit: contain;
  height: 180px;
  width: 180px;
}

.orderedProduct__rating{
  display: flex
}
.grn.disabled {
  background-color: #ccc; /* Grey background color for disabled state */
  color: #999; /* Grey text color for disabled state */
  cursor: not-allowed; /* Change the cursor to "not-allowed" for disabled state */
}