/* Subtotal.css */

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background: linear-gradient(
    to bottom right,
    rgb(240, 229, 235),
    rgb(188, 217, 235)
  );
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex; /* Change display to inline or inline-block */
  align-items: center;
  margin-top: 10px;
}

.checkbox {
  width: 20px;
}

/* .subtotal__gift > input {
  margin-right: 5px;
} */

.proceed {
  background-color: #febd69;
  color: black;
  padding: 10px 30px;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 100%;
}

.proceed:hover {
  background-color: #f9c989;
}
