.feedback-container {
   
    width: 420px;
    position: relative;
    top: -575px;
   
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    /* margin-top: 50px; */
    border-radius: 5px;
    float: right; 
    margin-right: 190px; 

  }
  .feed_image{
    width: 1515px;
    height: auto;
  }
  

  .feedback-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .feedback-container input[type="text"],
  .feedback-container input[type="email"],
  .feedback-container select,
  .feedback-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .feedback-container select {
    height: 40px;
  }
  
  .feedback-container textarea {
    height: 100px;
  }
  
  /* .feedback-container button {
    background-color: #4A7352;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .feedback-container button:hover {
    background-color: #5e8c67;
  } */

  .submitbut {
    background-color: #ff9900 !important; /* Amazon orange color */
    color: #fff !important;
    padding: 10px 20px !important;
    border: 0 !important;
    border-radius: 5px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
    font-weight: bold !important;
    width: 50% !important; /* Set the button width to 50% */
    /* margin: 0 auto !important; Center the button horizontally */
    margin-left: 115px;
    }
  
  .submitbut:hover {
    background-color: #e08f00 !important; /* Lighter color on hover */
  }
