.amazon-nav {
    background-color: #232f3e; /* Background color */
    color: #ffffff; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the content */
    padding: 5px 20px; /* Decreased top and bottom padding */
    font-size: 14px;
    font-weight: bold;
    height: 40px; /* Fixed height of the navigation bar */
  }
  
  .amazon-nav-section {
    display: flex;
    align-items: center; /* Vertically center the list and button */
  }
  
  .amazon-nav-list {
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 10px 10px;
  }
  
  .amazon-nav-list li {
    margin-right: 20px;
  }
  
  .amazon-nav a {
    text-decoration: none;
    color: #ffffff; /* Text color */
    transition: color 0.3s;
  }
  
  .amazon-nav a:hover {
    color: #FF9900; /* Change text color on hover */
  }
  