.productb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  }
  
  .product__ratingb {
    display: flex;
  }
  
  .productb > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .normal {
    background-color: #febd69;
    color: black;
    padding: 10px 30px;
    margin-top: 10px;
    border: 0;
    border-width: 0px;
    border-radius:5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    /* font-weight: 500; */
    font-weight: bold;
  }

  .normal:hover {
    background-color: #f9c989;
  }

  .greenovation {
    background-color: #62be3a;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    border: 0;
    border-width: 0px;
    border-radius:5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    /* font-weight: 500; */
    font-weight: bold;
  }

  .greenovation:hover {
    background-color: #7ed957;
  }
  
  .product__priceb {
    margin-top: 5px;
  }
  
  .product__infob {
    height: 100px;
    margin-bottom: 15px;
  }